
@{
    @section Styles {
        <link rel="stylesheet" href="~/css/Reservation.css" asp-append-version="true" />
    }
}
<P>REZERWACJA</P>
<div class="MainForm">
<form asp-controller="Reservation" asp-action="Go" method="post">

    <div class="mb-3">
        <label class="form-label">Wybierz salę</label>
            <select id="hallSelect" name="HallId" class="form-select">
                <option value="">-- wybierz salę --</option>

                @foreach (var hall in ViewBag.Halls)
                {
                    <option value="@hall.HallId">@hall.Name</option>
                }
            </select>

        <label class="form-label">Wybierz grę</label>
                <select id="gameSelect" name="GameId" class="form-select">
                    <option value="">-- najpierw wybierz salę --</option>
                </select>
            <label class="form-label">Czas</label>
            <select id="sessionSelect" name="GameSessionId" class="form-select">
                <option value="">-- najpierw wybierz grę --</option>
            </select>
    </div>
        <script>
            const hallSelect = document.getElementById("hallSelect");
            const gameSelect = document.getElementById("gameSelect");
            const sessionSelect = document.getElementById("sessionSelect");

            hallSelect.addEventListener("change", function () {
                const hallId = this.value;

                gameSelect.innerHTML = '<option value="">Ładowanie...</option>';
                sessionSelect.innerHTML = '<option value="">-- najpierw wybierz grę --</option>';

                fetch(`/Reservation/GetGamesByHall?hallId=${hallId}`)
                    .then(response => response.json())
                    .then(games => {
                        gameSelect.innerHTML = '<option value="">-- wybierz grę --</option>';

                        games.forEach(game => {
                            gameSelect.innerHTML += `
                                <option value="${game.gameId}">
                                    ${game.name}
                                </option>`;
                        });
                    });
            });

            gameSelect.addEventListener("change", function () {
                const hallId = hallSelect.value;
                const gameId = this.value;

                sessionSelect.innerHTML = '<option value="">Ładowanie...</option>';

                fetch(`/Reservation/GetSessionsByHallAndGame?hallId=${hallId}&gameId=${gameId}`)
                    .then(response => response.json())
                    .then(sessions => {
                        sessionSelect.innerHTML = '<option value="">-- wybierz termin --</option>';

                        sessions.forEach(session => {
                            sessionSelect.innerHTML += `
                                <option value="${session.gameSessionId}">
                                    ${session.text}
                                </option>`;
                        });
                    });
            });
        </script>

    <div class="mb-3">
        <label class="form-label">Rodzaj rezerwacji</label>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="ReservationType" value="Table" checked>
            <label class="form-check-label">Cały stół</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="ReservationType" value="Seat">
            <label class="form-check-label">Jedno miejsce przy stole</label>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Ilość</label>
        <input type="number" name="Quantity" class="form-control" min="1" value="1">
    </div>

    <button type="submit" class="btn btn-primary">Zarezerwuj</button>

</form>
</div>