<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GamblingBuddies</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/theme.css" />
    <link rel="stylesheet" href="~/GamblingBuddies.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">

                <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">
                    GamblingBuddies
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                        aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole("Administrator"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="AdminPanel" asp-action="Index">Panel admina</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="GameTables" asp-action="Index">Stoły</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Games" asp-action="Index">Gry</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Reservations" asp-action="Index">Rezerwacje</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Payments" asp-action="Index">Płatności</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Reports" asp-action="Index">Raporty</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Archive" asp-action="Index">Archiwum PDF</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="EmployeesSchedule" asp-action="WorkShifts">
                                        Zmiany pracowników
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="EmployeesSchedule" asp-action="Assignments">
                                        Przypisania pracowników
                                    </a>
                                </li>

                                <li class="nav-item"> <a class="nav-link text-light" asp-controller="Employees" asp-action="Index">
                                        Pracownicy
                                   </a>
                                </li>
                            }

                            @if (User.IsInRole("Manager"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="GameTables" asp-action="Index">Stoły</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Games" asp-action="Index">Gry</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Reservations" asp-action="Index">Rezerwacje</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Archive" asp-action="Index">Archiwum PDF</a>
                                </li>
                            }

                            @if (User.IsInRole("Employee"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="EmployeesSchedule" asp-action="WorkShifts">
                                        Zmiany pracowników
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="EmployeesSchedule" asp-action="Assignments">
                                        Przypisania pracowników
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-controller="Archive" asp-action="Index">Archiwum PDF</a>
                                </li>
                            }
                        }
                    </ul>

                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity != null && User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item me-2">
                                <span class="nav-link text-light">
                                    Zalogowano: @User.Identity.Name
                                </span>
                            </li>

                            <li class="nav-item">
                                <a asp-controller="Account" asp-action="Logout" class="btn btn-outline-danger">
                                    Wyloguj
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Account" asp-action="Login">
                                    Logowanie
                                </a>
                            </li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - GamblingBuddies -
            <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>