body {
}
.MainForm {
    max-width: 700px;
    margin: 50px auto;
    padding: 5rem;
    background: white;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    color: black;
}

    .MainForm label,
    .MainForm .form-label,
    .MainForm .form-check-label {
        color: black;
    }
