@model IEnumerable<GamblingBuddies.Models.SystemUser>

<h2>Użytkownicy oczekujący na akceptację</h2>

<table class="table">
    <thead>
        <tr>
            <th>Login</th>
            <th>Email</th>
            <th>Data utworzenia</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Login</td>
                <td>@user.Email</td>
                <td>@user.CreatedAt</td>
                <td>
                    <form asp-action="ApproveUser" method="post">
                        <input type="hidden" name="id" value="@user.SystemUserId" />
                        <button class="btn btn-success">Akceptuj</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>