@{
    ViewData["Title"] = "Panel główny";
}

<div class="container-fluid">

    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold">Fortuna już czeka!</h1>
    </div>

    <div class="MainDiv">

        <div class="DivAbout">
            <div class="card shadow-sm h-100 border-1">
                <div class="card-body text-start">
                    <h5 class="card-title me-auto">O nas</h5>
                    <div class="AboutDescription">
                        <p>
                            Generalnie gambling jest spoko.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="DivReservation">
            <div class="card shadow-sm h-100 border-1">
                <div class="card-body text-start">
                    <h5 class="card-title">Masz ochote na troche prywatnośści</h5>
                    <p class="card-text">Zarezerwój coś</p>
                    <a asp-controller="Reservation" asp-action="Go" class="btnReservation">Rezerwacja</a>
                </div>
            </div>
        </div>

        <div class="DivGmaes">
            <div class="card text-start shadow-sm h-100 border-1">
                <div class="card-body text-center">
                    <h5 class="card-title">Gry</h5>
                    <p class="card-text">Oferta gier oraz warianty rozgrywek.</p>
                </div>
                <div class="divDescription">

                    <div class="cardGame">
                        <img src="/Images/poker.jpg" alt="Poker">

                        <div class="cardText">
                            <h3>Gry karciane</h3>
                            <p>Opis gier...</p>
                        </div>
                    </div>

                    <div class="cardGame">
                        <img src="/Images/Ruletka.jpg" alt="Blackjack">

                        <div class="cardText">
                            <h3>Ruletka</h3>
                            <p>Opis Ruletek...</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>